<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>486650427170-t5ioq63ds9194atchlbf2hq0m8sbbspa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.486650427170-t5ioq63ds9194atchlbf2hq0m8sbbspa</string>
	<key>API_KEY</key>
	<string>AIzaSyCOEzetEIVIjd4Izp1I03DMQTJVxOkovSM</string>
	<key>GCM_SENDER_ID</key>
	<string>486650427170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexcpaul.BBQMeetup</string>
	<key>PROJECT_ID</key>
	<string>bbqmeetup-1ad4a</string>
	<key>STORAGE_BUCKET</key>
	<string>bbqmeetup-1ad4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486650427170:ios:1d77ac5b57c437af38577b</string>
	<key>DATABASE_URL</key>
	<string>https://bbqmeetup-1ad4a.firebaseio.com</string>
</dict>
</plist>